.App {
  margin: 0 auto;
  margin-top: 80px;
  width: 580px;
  border: 4px solid #7777b2;
  border-radius: 10px;
  box-shadow: 10px 8px 10px #aabedc;
  padding: 2%;
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
}
.container {
  margin-top: 20px;
}
/*storage and transfer*/

.storage {
  margin-right: 10%;
}
input {
  width: 100%;
}
.numbers {
  display: flex;
  justify-content: space-between;
}
/*table*/
.schedule {
  padding: 0;
  display: flex;
}

img {
  display: block;
  margin-top: 5px;
  margin-bottom: 14px;
}
.box-line {
  margin: 0;
  margin-top: 5px;
  background: #092754;
  height: 85%;
  width: 4px;
}
.box {
  margin-top: 6px;
  margin-right: 5%;
  margin-bottom: 22px;
}
.options {
  display: flex;
  font-size: 10px;
  font-style: italic;
  margin-bottom: 5px;
}
/*for mobile*/
@media (max-width: 767px) {
  .App {
    width: 85%;
  }
  .name,
  .picture,
  .currency {
    display: flex;
    justify-content: space-between;
  }
  .schedule {
    padding: 0 12px;
  }
  .hdd-sdd {
    position: absolute;
    bottom: -2%;
    left: 38%;
  }
  .single-multi {
    position: absolute;
    bottom: -2%;
    right: 30%;
  }
}
